$color_primary_normal: #783aff;
$color_primary_dark: #3700ca;
$color_primary_light: #b16bff;

$color_secondary_normal: #2effce;
$color_secondary_dark: #00cb9d;
$color_secondary_light: #7affff;

$color_text_light: #4d5156;
$color_text_dark: #202124;

$nav_height: 75px;

$color_shadow: #cccccc2e;
